.rust {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    height: 20vh;
    top: 0;
    left: 0;
}

.svg {
    width: 100%;
    height: 70vh;
    position: relative;
}

:global #testBox {
    width: 100px;
    height: 100px;
    display: block;
}

:global .green {
    background-color: green;
}

:global .red {
    background-color: red;
}
